.skills-container {
  padding-top: 25px;

  & .skills-box {
    display: grid;
    grid-template-rows: 25px 1fr 1fr 1fr;

    & .skills-title {
      height: 25px;
      text-align: center;
      font-weight: 500;
      line-height: 1;
      text-shadow:
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 30px cyan;
    }

    & .hard-skills_container,
    & .tools-skills_container {
      display: grid;
      grid-template: 1fr / 1fr;
      border: 0.61px solid #3e92cc;
      border-radius: 15px;
      margin: 35px 15px 0;
      height: max-content;

      & .hard-skills_title,
      & .tools-skills_title {
        display: block;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        margin-top: 15px;
      }
      & .hard-skills_card_list,
      & .tools-card_list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        place-items: center center;
        margin: 15px 0;

        & .card-item_html,
        & .card-item_css,
        & .card-item_js,
        & .card-item_react,
        & .card-item_scss,
        & .card-item_github,
        & .card-item_git,
        & .card-item_vscode,
        & .card-item_jira,
        & .card-item_figma {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px auto;

          & .hard-skills_card_item_image,
          & .hard-skills_card_item_subtitle,
          & .tools-card_item_subtitle {
            font-size: 18px;
            font-weight: 500;
            margin-top: 5px;
          }

          & .hard-skills_card_item_subtitle,
          & .tools-card_item_subtitle {
            margin-top: 10px;
          }
        }

        & .card-item_html,
        & .card-item_git {
          grid-row: 1/2;
          grid-column: 1/2;
        }

        & .card-item_css,
        & .card-item_github {
          grid-row: 1/2;
          grid-column: 2/3;

          & .tools-card_item_icon {
            background-color: white;
            padding: 3px;
          }
        }

        & .card-item_js,
        & .card-item_vscode {
          grid-row: 2/3;
          grid-column: 1/3;
        }

        & .card-item_react,
        & .card-item_jira {
          grid-row: 3/4;
          grid-column: 1/2;
        }

        & .card-item_scss,
        & .card-item_figma {
          grid-row: 3/4;
          grid-column: 2/3;
        }
      }
    }

    & .soft-skills_container {
      display: grid;
      grid-template: 1fr / 1fr;
      place-items: center center;
      margin: 35px 15px 0px;
      height: max-content;

      & .soft-skills_title {
        line-height: 1;
        font-weight: 500;
        margin-bottom: 20px;
            }

      & .soft-skills_card {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 45%;

        & .soft-skills_list {
          & .soft-skills_list_item {
            list-style-image: url('./list-marker12.png');
            line-height: 1.2;
            padding: 5px;
            margin: 5px;
            color: rgb(196, 186, 186);
          }
        }
      }
    }
  }
  @media (min-width: 480px) and (max-width: 767.99px) {
    & .skills-title {font-size: 22px;}
    & .hard-skills_title,
    & .tools-skills_title,
    & .soft-skills_title {font-size: 20px;}
    & .soft-skills_list_item {font-size: 18px;}
    & .hard-skills_card_item_subtitle,
    & .tools-card_item_subtitle {
      font-size: 18px;
    }

 }
 @media (min-width: 768px) and (max-width: 991.99px) {
 & .skills-box {
   display: grid;
   grid-template: auto 1fr 1fr/repeat(2, 1fr);
   place-items: center center;
 
   & .skills-title{
     grid-column: 1/3;
     grid-row: 1/2;
     text-align: center;
     font-size: 26px;
   }
   & .hard-skills_container{
     height: 360px;
     box-sizing: border-box;      
     grid-column: 1/2;
     grid-row: 2/3;
     width: 90%;
     & .hard-skills_card_list {
      & .card-item_html,
      & .card-item_css,
      & .card-item-js,
      & .card-item-react,
      & .card-item-scss {
        & .hard-skills_card_item_subtitle {
          font-size: 20px;
        }
      }
     }

     & .hard-skills_card_item_subtitle {
      font-size: 20px;
     }
   }
   & .tools-skills_container {
     height: 360px;
     box-sizing: border-box;      
     grid-column: 2/3;
     grid-row: 2/3;
     width: 90%;
     & .tools-card_list {
      & .card-item_github,
      & .card-item_git,
      & .card-item_vscode,
      & .card-item_jira,
      & .card-item_figma {
        & .tools-card_item_subtitle {
          font-size: 20px;
        }
      }
    }
   }
   & .soft-skills_container {
     grid-column: 1/3;
     grid-row: 3/4;
   
   }
    & .hard-skills_title,
    & .tools-skills_title,
    & .soft-skills_title {font-size: 24px;}
    & .soft-skills_list_item {font-size: 22px;}
 }
 }
 @media (min-width: 992px) and (max-width: 1199.99px) {
 & .skills-box {
   display: grid;
   grid-template: auto 1fr 1fr/repeat(2, 1fr);
   place-items: center center;
 
   & .skills-title{
     grid-column: 1/3;
     grid-row: 1/2;
     text-align: center;
     font-size: 30px;
   }
   & .hard-skills_container{
     height: 400px;
     box-sizing: border-box;      
     grid-column: 1/2;
     grid-row: 2/3;
     width: 90%;
     & .hard-skills_card_list {
      & .card-item_html,
      & .card-item_css,
      & .card-item-js,
      & .card-item-react,
      & .card-item-scss {
        & .hard-skills_card_item_subtitle {
          font-size: 22px;
        }
      }
     }
   }
   & .tools-skills_container {
     height: 400px;
     box-sizing: border-box;      
     grid-column: 2/3;
     grid-row: 2/3;
     width: 90%;
     & .tools-card_list {
      & .card-item_github,
      & .card-item_git,
      & .card-item_vscode,
      & .card-item_jira,
      & .card-item_figma {
        & .tools-card_item_subtitle {
          font-size: 22px;
        }
      }
    }
   }
   & .soft-skills_container {
     grid-column: 1/3;
     grid-row: 3/4;
   
   }
 }
 & .hard-skills_title,
 & .tools-skills_title,
 & .soft-skills_title {font-size: 27px;}
 & .soft-skills_list_item {font-size: 24px;}
 }
 @media (min-width: 1200px) {
  & .skills-box {
    display: grid;
    grid-template: auto 1fr 1fr/repeat(2, 1fr);
    place-items: center center;
  
    & .skills-title{
      grid-column: 1/3;
      grid-row: 1/2;
      text-align: center;
      font-size: 34px;
    }
    & .hard-skills_container{
      height: 400px;
      box-sizing: border-box;      
      grid-column: 1/2;
      grid-row: 2/3;
      width: 90%;
      & .hard-skills_card_list {
       & .card-item_html,
       & .card-item_css,
       & .card-item-js,
       & .card-item-react,
       & .card-item-scss {
         & .hard-skills_card_item_subtitle {
           font-size: 24px;
         }
       }
      }
    }
    & .tools-skills_container {
      height: 400px;
      box-sizing: border-box;      
      grid-column: 2/3;
      grid-row: 2/3;
      width: 90%;
      & .tools-card_list {
       & .card-item_github,
       & .card-item_git,
       & .card-item_vscode,
       & .card-item_jira,
       & .card-item_figma {
         & .tools-card_item_subtitle {
           font-size: 24px;
         }
       }
     }
    }
    & .soft-skills_container {
      grid-column: 1/3;
      grid-row: 3/4;
    
    }
  }
  & .hard-skills_title,
  & .tools-skills_title,
  & .soft-skills_title {font-size: 28px;}
  & .soft-skills_list_item {font-size: 26px;}
 }
}

