.projects-container {
  display: grid;
  grid-template-columns: 1fr;

	& .projects_title {
		text-align: center;
		font-size: 20px;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 20px;
		text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan;
	}

  & .body_mass_index-section,
  & .weather_app-section,
  & .eco_cabins-section {
   display: grid;
   grid-template-columns: 1fr;
      place-items: center;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;


    & .image_container img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      display: block;
      border-radius: 10px;
    }

    & .check_preview_section {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    & .project_details {
      word-wrap: break-word;
    }

    & .more_info {
      height: 0;
      overflow: hidden;
    }
  }
}
