.hero-container {
  padding-top: 25px;
  & .hero-photo_outside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 250px;
    position: relative;

    & .hero-photo_inside {
      border-radius: 50%;
      border: 2px solid #1e3a8a;
      padding: 10px;

      & .hero-photo_img {
        border: 2px solid #8e9e02;
        border-radius: 50%;
        display: block;
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding: 10px;
      }
    }
  }

  & .hero-description {
    margin: 50px 0 25px;
    line-height: 1.2;

    & .hero-description_title {
      margin: 0 15px;
      text-align: center;
      color: rgb(196, 186, 186);
      font-size: clamp(24px, 3vw, 48px);

      & .profession-name {
        color: #2648a7;
        font-weight: 600;
      }
    }

    & .hero-description_text {
      display: inline-block;
      margin: 25px 15px;
      color: rgb(139, 131, 131);
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    & .hero-description_link {
      width: max-content;
      display: inline-block;
      background-color: #6978d1;
      margin: 25px 15px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 25px;
      box-shadow: 0 0 25px #6978d1;
      transform: scale(1);
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
        transition: all 0.2s ease;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.99px) {
    p { font-size: 14px;}
    a { font-size: 14px;}
  }
  @media (min-width: 768px) and (max-width: 991.99px) {
    p { font-size: 18px;}
    a { font-size: 18px;}
  }
  @media (min-width: 992px) and (max-width: 1199.99px) {
    p { font-size: 20px;}
    a { font-size: 20px;}
  }
  @media (min-width: 1200px) {
    p { font-size: 24px;}
    a { font-size: 24px;}
  }
}

